@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Quantico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Capriola&family=Quantico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.container{
    /* border: 2px solid black; */
    background-color:#20B2AA;
    /* border-style: groove; */
    box-shadow: 5px 10px 8px 10px #888888;
    font-family: 'Acme', sans-serif;
}
.containerfeedback{
    /* border: 2px solid black; */
    /* color:white; */
    /* background-color:#333333; */
    /* border-style: groove; */
    background-color:#20B2AA;
    box-shadow: 2px 10px 10px 10px darkslategray;
    font-family: 'Acme', sans-serif;
}
.containerfront{
    /* max-width: 10%; */
    /* background-color:lightcyan; */
    /* box-shadow: 5px 10px 8px 10px #888888; */
    box-shadow: 2px 10px 10px 10px darkslategray;
}
.expandcollapsebutton{
    border-radius: 40%;
}
.expandcollapsearea{
    display: flex;
    /* border: 1px solid red; */
    /* border-bottom: 1px solid red; */
    box-shadow: 0px 6px 8px -3px #888888;
}
.tableoverflow{
    overflow-y: scroll;
    overflow-x: scroll;
    height: 350px;
}
.createbutton{
    position: fixed;
    right: 3%;
    bottom: 6%;
    /* cursor: pointer; */
}
.fonts{
    font-family: 'Signika', sans-serif;
    /* 'Open Sans'; */
}
.imgstyle{
    width: 170px;
    height: 170px;
    border-radius: 50%;
}
.imgstylenew{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #0c5460;
}
.html{
    scroll-behavior: smooth;
}
.borderbottomstyle{
    
    /* border-bottom: 6px solid #800000; */
    /* border-bottom: 6px solid brown; */
    /* border-left: 12px solid #20B2AA;
    border-left-style:ridge; */
    /* border-bottom: 10px solid hsl(177, 70%, 41%); */
    /* border-bottom-style:groove; */
    /* border-bottom: 1px solid #3e4042;
    border-bottom-style:ridge; */
    /* border-top: 10px solid #20B2AA;
    border-top-style:ridge;
    border-right: 10px solid #20B2AA;
    border-right-style:ridge; */
    /* border-bottom: 12px solid black; */
    /* background-color: lightgrey; */
    /* background-color: #343a40; */
    /* background-color: #3d3e42; */
    color: aliceblue;
    /* border-radius: 50%; */
     /* background: hsla(240, 4%, 15%, 1);

background: linear-gradient(0deg, hsla(240, 4%, 15%, 1) 0%, hsla(240, 4%, 15%, 1) 1%, hsla(176, 45%, 66%, 1) 100%);

background: -moz-linear-gradient(0deg, hsla(240, 4%, 15%, 1) 0%, hsla(240, 4%, 15%, 1) 1%, hsla(176, 45%, 66%, 1) 100%);

background: -webkit-linear-gradient(0deg, hsla(240, 4%, 15%, 1) 0%, hsla(240, 4%, 15%, 1) 1%, hsla(176, 45%, 66%, 1) 100%); */

background: hsla(180, 25%, 25%, 1);

background: linear-gradient(0deg, hsla(180, 25%, 25%, 1) 51%, hsla(34, 10%, 13%, 1) 100%);

background: -moz-linear-gradient(0deg, hsla(180, 25%, 25%, 1) 51%, hsla(34, 10%, 13%, 1) 100%);

background: -webkit-linear-gradient(0deg, hsla(180, 25%, 25%, 1) 51%, hsla(34, 10%, 13%, 1) 100%);
} 

.bodybg{
    /* background: url('https://i.pinimg.com/originals/51/35/21/5135217d73b01d17070716e72d73f092.jpg'); */
    /* background-repeat:round; */
    /* background-size:700px 600px; */
    background-color: red;
}
.modalborder{
    border: 2px solid blue;
    max-height: 200px;
    object-fit: contain;
}
.prefacefont{
    font-family: 'Sofia', cursive;
    font-size:medium;
}
.prefaceimage{
    position: relative;
    z-index:1;
    /* width:100px; */
    /* height:100px; */
    /* margin:30px; */
    
    overflow:hidden;
    
    
            
            
    /* background-image: url('https://th.bing.com/th/id/Rfb424a3ac702b34de7d22344805a79ec?rik=3HmBB47r5Joz1g&riu=http%3a%2f%2fassets.coolhunting.com%2fcoolhunting%2fchad-assets%2fcover_photos%2f2016%2f5%2f57335306616662000a3b0000%2flarge.jpg%3f1462981382&ehk=1pFfiWin5ZUXFS4G3%2bZGgmR26kYI%2fBuVrGkV4sqYXTo%3d&risl=&pid=ImgRaw');
    background-repeat: no-repeat; */
    /* opacity: 0.2; */
    /* transform: translate(50%, -10%); */
}
.prefaceimage::before{
    z-index:-1;
    position:absolute;
    width:430px;
    height:430px;
    /* left:10;
    top:0; */
    content: "";
    background: url("https://firebasestorage.googleapis.com/v0/b/apcrp-eie.appspot.com/o/z.png?alt=media&token=ae8e4329-5483-481e-bca8-5c582bf2dd10") no-repeat center;
    background-size: 100%;
    
    /* content: url('https://firebasestorage.googleapis.com/v0/b/apcrp-eie.appspot.com/o/z.png?alt=media&token=ae8e4329-5483-481e-bca8-5c582bf2dd10'); */

    opacity:0.3;
    /* top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
    position: absolute;
    z-index: -1;
    background-image: url('https://th.bing.com/th/id/Rfb424a3ac702b34de7d22344805a79ec?rik=3HmBB47r5Joz1g&riu=http%3a%2f%2fassets.coolhunting.com%2fcoolhunting%2fchad-assets%2fcover_photos%2f2016%2f5%2f57335306616662000a3b0000%2flarge.jpg%3f1462981382&ehk=1pFfiWin5ZUXFS4G3%2bZGgmR26kYI%2fBuVrGkV4sqYXTo%3d&risl=&pid=ImgRaw');
    background-repeat: no-repeat;
    opacity: 1; */
    /* transform: translate(50%, -10%); */
}
/* .prefacediv{ */
    /* border:1px solid green; */
    /* border-bottom: 18px solid black; */
    /* border-top: 18px solid black; */
    /* background-color: #ddffdd; */
    /* border-style:ridge; */
    /* border-radius: 5%; */
/* } */

.adminfont{
    font-family: 'Acme', sans-serif;
font-family: 'Quantico', sans-serif;
}
.admintable{
    font-family: 'Acme', sans-serif;
font-family: 'Capriola', sans-serif;
font-family: 'Quantico', sans-serif;
}

.studentyearimg{
    background: url('https://www.bing.com/th?id=AMMS_2855bfb1e3b0ed64483d32a18b0bdf7d&w=110&h=110&c=7&rs=1&qlt=80&pcl=f9f9f9&cdv=1&pid=16.1');
}

.footerapc{
    border-top: 5px solid lightgreen;
    
    width: 80%;
}
.footeralok{
    border-top: 5px solid lightgreen;
    
    width: 50%;
}
.footersubham{
    border-top: 5px solid lightgreen;
    
    width: 60%;
}
.footerconcept{
    border-left: 5px solid #145276;
    /* border-bottom: 5px solid #145276; */
    /* position: relative; */
    padding-left: 5px;
}
.newtestfont{
    /* font-family: 'Lora', serif; */
    /* font-family: 'Acme', sans-serif; */
    /* font-family: 'Lancelot', cursive; */
    /* font-family: 'Piazzolla', serif; */
    /* font-family: 'B612', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Lora', serif;
}

.climbloader{
    /* width: 100px;
	height: 100px;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto; */
text-align: center;
display: flex;
justify-content: center;
align-items: center;
    width: 100%;
    height: 100vh;
   
    
}
.prefacelogo{
    opacity: 0.2;
    position: absolute;
    bottom: 0;

    left: 0;
    text-align: center;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 400px;
    /* height: 100vh; */
    max-height: 500px;
    
}

.events{
    height: 200px;
    width: 200px;

}
.events :hover{
    background-color: #20B2AA;
}
.grad{
    background: hsla(202, 71%, 27%, 1);

background: linear-gradient(0deg, hsla(202, 71%, 27%, 1) 0%, hsla(177, 70%, 41%, 1) 50%, hsla(176, 45%, 66%, 1) 100%);

background: -moz-linear-gradient(0deg, hsla(202, 71%, 27%, 1) 0%, hsla(177, 70%, 41%, 1) 50%, hsla(176, 45%, 66%, 1) 100%);

background: -webkit-linear-gradient(0deg, hsla(202, 71%, 27%, 1) 0%, hsla(177, 70%, 41%, 1) 50%, hsla(176, 45%, 66%, 1) 100%);

}
.ach{
    /* background: #CA4246;
  background-color: #CA4246;
  background: conic-gradient(
    #CA4246 16.666%, 
    #E16541 16.666%, 
    #E16541 33.333%, 
    #F18F43 33.333%, 
    #F18F43 50%, 
    #8B9862 50%, 
    #8B9862 66.666%, 
    #476098 66.666%, 
    #476098 83.333%, 
    #A7489B 83.333%);
    */
  
/* background: hsla(202, 71%, 27%, 1); */
/* background-color: hsla(202, 71%, 27%, 1); */
background: linear-gradient(0deg, hsla(178, 71%, 40%, 1) 0%, hsla(177, 70%, 55%, 1) 50%, hsla(176, 45%, 66%, 1) 100%);

background: -moz-linear-gradient(0deg, hsla(178, 71%, 40%, 1) 0%, hsla(177, 70%, 55%, 1) 50%, hsla(176, 45%, 66%, 1) 100%);

background: -webkit-linear-gradient(0deg, hsla(178, 71%, 40%, 1) 0%, hsla(177, 70%, 55%, 1) 50%, hsla(176, 45%, 66%, 1) 100%);
/* background-repeat: repeat;  */
background-size: 50%;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  
  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-animation-rev 0.5s ease forwards;

  cursor: pointer;
}
.ach:hover {
    animation: rainbow-text-animation 0.5s ease forwards;
}
  @keyframes rainbow-text-animation {
    0% {
      background-size: 57%;
      background-position: 0 0;
    }
    20% {
      background-size: 57%;
      background-position: 0 1em;
    }
    100% {
      background-size: 300%;
      background-position: -9em 1em;
    }
  }
  
  /* Move the background and make it smaller. */
  /* Animation shown when entering the page and after the hover animation. */
  @keyframes rainbow-text-animation-rev {
    0% {
      background-size: 300%;
      background-position: -9em 1em;
    }
    20% {
      background-size: 57%;
      background-position: 0 1em;
    }
    100% {
      background-size: 57%;
      background-position: 0 0;
    }
  }
  .w3animatr{position:relative;animation:animateright 0.4s}
  @keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}


  .badge{
      position: relative;
      /* border: 2px solid green; */
      border-radius: 50%;
      /* background-color: green; */
      height: 12px;
      width: 12px;
      margin-left: -8px;
      margin-top: 22px;
  }
  